@charset "UTF-8";

@font-face {
    font-family: 'notokr-light';
    src: url('fonts/notokr-light.eot');
    src: url('fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/notokr-light.woff2') format('woff2'),
         url('fonts/notokr-light.woff') format('woff'),
         url('fonts/notokr-light.ttf') format('truetype'),
         url('fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-medium';
    src: url('fonts/notokr-medium.eot');
    src: url('fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/notokr-medium.woff2') format('woff2'),
         url('fonts/notokr-medium.woff') format('woff'),
         url('fonts/notokr-medium.ttf') format('truetype'),
         url('fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-regular';
    src: url('fonts/notokr-regular.eot');
    src: url('fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/notokr-regular.woff2') format('woff2'),
         url('fonts/notokr-regular.woff') format('woff'),
         url('fonts/notokr-regular.ttf') format('truetype'),
         url('fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
